{% extends "base/base.html" %}
{% block title %}Contact Us{% endblock %}
{% block content %}
    <div class="slider-area">
        <div class="page-title">
            <div class="single-slider slider-height slider-height-breadcrumb d-flex align-items-center" style="background-image: url(/static/assets/img/bg/others_bg.jpg);">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="slider-content slider-content-breadcrumb text-center">
                                <h1 class="white-color f-700">Contact Us</h1>
                                <nav class="text-center" aria-label="breadcrumb">
                                    <ol class="breadcrumb justify-content-center">
                                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider-end -->
    <!-- contact start -->

    <div class="advisors-area gray-bg pt-95 pb-70">
        <div class="container">
                
            <div class="row">
                <div class="col-xl-8 offset-xl-2">
                    <div class="events-details-form faq-area-form mb-30 p-100">
                        <form method="POST" enctype="multipart/form-data" novalidate>
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-xl-8">
                                    <div class="events-form-title mb-25">
                                        <h2>Apply Here To Become a Teacher</h2>
                                        <p>Fill the form below to apply to become a teacher in our Website</p>
                                    </div>
                                </div>
    
                                <div class="col-xl-6">
                                    <input placeholder="Full Name:" type="text" name="name" required>
                                    <small class="error-msg">{{ form.name.errors }}</small>
                                </div>
    
                                <div class="col-xl-6">
                                    <input placeholder="Email Address:" type="email" name="email" required>
                                    <small class="error-msg">{{ form.email.errors }}</small>
                                </div>
    
                                <div class="col-xl-6">
                                    <input placeholder="Phone Number:" type="text" name="phone" required>
                                    <small class="error-msg">{{ form.phone.errors }}</small>
                                </div>
    
                                <div class="col-xl-12">
                                    <textarea placeholder="Your Message:" name="message" rows="4" required></textarea>
                                    <small class="error-msg">{{ form.message.errors }}</small>
                                </div>
    
                                <div class="col-xl-12">
                                    <input type="file" name="attachment">
                                    <small class="error-msg">{{ form.attachment.errors }}</small>
                                </div>
    
                                <div class="col-xl-12">
                                    <div class="faq-form-btn events-form-btn text-center">
                                        <button type="submit" class="btn m-0">Submit Application</button>
                                    </div>
                                    <div class="text-center">
                                        <a href="{% url 'home' %}">Back to Home</a>
                                    </div>
                                </div>
    
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- courses start -->
    <div class="advisors-area gray-bg pt-95 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-6 col-md-10 offset-md-1 ml-md-auto">
                    <div class="contact-info-text">
                        <div class="section-title mb-20">
                            <div class="section-title-heading mb-10">
                                <h1>Contact Info</h1>
                            </div>
                            <div class="section-title-para">
                                <p>Lorem ipsum dolor sit amet, consecte adipisicing elit sed do eiusmod tempor incididunt.</p>
                            </div>
                        </div>
                    </div>
                    <div class="contact-info mb-50 wow fadeInRight" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInRight;">
                        <ul>
                            <li>
                                <div class="contact-icon">
                                    <i class="ti-headphone"></i>
                                </div>
                                <div class="contact-text">
                                    <h5>Call Us</h5>
                                    <span>+01623329513</span>
                                </div>
                            </li>
                            <li>
                                <div class="contact-icon">
                                    <i class="ti-email"></i>
                                </div>
                                <div class="contact-text">
                                    <h5>Email Us</h5>
                                    <span>mpias3721@gmail.com</span>
                                </div>
                            </li>
                            <li>
                                <div class="contact-icon">
                                    <i class="ti-location-pin"></i>
                                </div>
                                <div class="contact-text">
                                    <h5>Location</h5>
                                    <span>Khulna,Bangladesh</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-6 col-md-10 offset-md-1 ml-md-auto">
                    <div class="events-details-form faq-area-form mb-30 p-0">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m21!1m12!1m3!1d7353.775382730286!2d89.53999885870162!3d22.84363582550578!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m6!3e6!4m0!4m3!3m2!1d22.842034065605244!2d89.53924784025142!5e0!3m2!1sen!2sbd!4v1742032042112!5m2!1sen!2sbd" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- courses end -->
    <!-- map start -->
   
  {% endblock content %}