{% extends 'base/base.html' %}
{% block content %}
{% load socialaccount %}
<!-- slider-start -->
<div class="slider-area">
    <div class="page-title">
        <div class="single-slider slider-height slider-height-breadcrumb d-flex align-items-center"
            style="background-image: url(/static/assets/img/bg/others_bg.jpg);">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content slider-content-breadcrumb text-center">
                            <h1 class="white-color f-700">Login</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider-end -->

<div id='commit' style="padding-top: 50px; text-align: center;">
    <h1>Login</h1>
</div>

<div class="advisors-area gray-bg pt-95 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 offset-xl-2">
                <div class="events-details-form faq-area-form mb-30 p-100">
                    <form method="POST" enctype="multipart/form-data" novalidate>
                        {% csrf_token %}
                        <div class="row">

                            <!-- General Form Errors -->
                            {% if form.non_field_errors %}
                            <div class="col-xl-12">
                                <div class="alert alert-danger error-msg">
                                    {{ form.non_field_errors }}
                                </div>
                            </div>
                            {% endif %}

                            <!-- Username/Email Field -->
                            <div class="col-xl-12">
                                <input placeholder="Username or Email:" type="text" name="username" required>
                                {% if form.username.errors %}
                                    <div class="text-danger">
                                        {{ form.username.errors.0 }}
                                    </div>
                                {% endif %}
                            </div>

                            <!-- Password Field -->
                            <div class="col-xl-12">
                                <input placeholder="Password:" type="password" name="password" required>
                                {% if form.password.errors %}
                                    <div class="text-danger">
                                        {{ form.password.errors.0 }}
                                    </div>
                                {% endif %}
                            </div>

                            <!-- Login Button -->
                            <div class="col-xl-12">
                                <div class="faq-form-btn events-form-btn text-center">
                                    <button type="submit" class="btn m-0">Login</button>
                                </div>

                                <!-- Google Sign-In Button -->
                                <div class="text-center mt-3">
                                    <a href="{% url 'social:begin' 'google' %}" class="btn btn-danger">
                                        <i class="fab fa-google"></i> Sign in with Google
                                    </a>
                                </div>

                                <!-- Links -->
                                <div class="text-center mt-2">
                                    <a href="{% url 'password-reset' %}">Forgot Password?</a><br>
                                    <a href="{% url 'reg' %}">Don't have an account? Sign Up</a>
                                </div>
                            </div>
                            <a href="{% provider_login_url 'google' %}" class="btn btn-danger">
                                <i class="fab fa-google"></i> Sign in with Google
                            </a>
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Smooth Scroll to Form -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var targetDiv = document.getElementById("commit");
        if (targetDiv) {
            targetDiv.scrollIntoView({ behavior: "smooth", block: "start" });
        }
    });
</script>

{% endblock %}
