{% extends 'base/base.html' %}

{% block content %}
<!-- slider-start -->
<div class="slider-area">
    <div class="page-title">
        <div class="single-slider slider-height slider-height-breadcrumb d-flex align-items-center"
            style="background-image: url(/static/assets/img/bg/others_bg.jpg);">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content slider-content-breadcrumb text-center">
                            <h1 class="white-color f-700">Password Reset Successful</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider-end -->

<div id='commit' style="padding-top: 50px; text-align: center;">
    <h1>Your password has been successfully reset!</h1>
    <p>Your password has been successfully updated. You can now log in with your new password.</p>
</div>

<div class="advisors-area gray-bg pt-95 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 offset-xl-2">
                <div class="faq-area-form mb-30 p-100 text-center">
                    <a href="{% url 'login' %}" class="btn m-0">Go to Login</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
