{% extends 'core/base.html' %}
{% block home %}
<style>
    
    /* Add styles to the heading */
    h1 {
        font-size: 24px;
        color: #333;
        text-align: center;
        margin-top: 50px;
    }
    
    /* Style the strong tag for emphasis */
    strong {
        color: #007bff; /* Blue color */
        font-weight: bold;
    }
    
</style>
<div class="container">
    <h1>An OTP has been sent to your email. <strong>Please check your email to retrieve the OTP.</strong></h1>

</div>
   {% endblock home %}