{% extends 'core/base.html' %}
{% block content %}

<style>
    /* styles.css */

/* Style the form container */
.main {
max-width: 400px;
margin: 50px auto;
padding: 20px;
background-color: #fff;
border-radius: 8px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style form labels */
label {
display: block;
margin-bottom: 8px;
font-weight: bold;
}

/* Style form input fields */
input {
width: 100%;
padding: 10px;
margin-bottom: 16px;
box-sizing: border-box;
border: 1px solid #ccc;
border-radius: 4px;
}

/* Style the help text */
.helptext {
font-size: 12px;
color: #666;
margin-top: 5px;
}

/* Style form submit button */
.button {
background-color: #007bff;
color: #fff;
padding: 12px 20px;
border: none;
border-radius: 4px;
cursor: pointer;
}

.button:hover {
background-color: #0056b3;
}

</style>

<div class="main">
<form action="" method="post" novalidate>
    {% csrf_token %}
    
    {% for fm in form %}
    {{ fm.label_tag }}
    {{ fm }}
    {{ fm.errors|striptags }}
{% endfor %}
{% if messages %}
{% for message in messages %}
    <small {% if message.tags %} class="{{message.tags}}" {% endif %}> {{message}}</small>
{% endfor %}
{% endif %}


    <button type="submit" class="button">Submit</button>

</form>
</div>


{% endblock content %}